<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel= "stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<style>
div {
  width: 48%;
  display: inline-block;
}
</style>

<body style = "background-color:powderblue">


<h1 style = "text-align: center;">Welcome to Eternal Elixers</h1>
<p>Your one-stop shop for magical potions.</p>
<button class="btn btn-primary">Test Button</button>

<h1>This is heading 1</h1>
<p>This is some text.</p>
<hr>
<h2>This is heading 2</h2>
<p>This is some other text.</p>

<b>This text is bold</b>
<br>
<strong>This text is important!</strong>

<address>
    <i>
    9001 Owensmouth Ave. <br>
    Canoga Park, California <br>
    91304<br>
    </i>
</address>

<div style="background-color:black;color:#ee0202;padding:20px;">
  <h2>London</h2>
  <p>London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
</div>
<div>
  <h2>Oslo</h2>
  <p>Oslo is the capital city of Norway.</p>
  <p>Oslo has over 700,000 inhabitants.</p>
</div>

<div>
  <h2>Rome</h2>
  <p>Rome is the capital city of Italy.</p>
  <p>Rome has over 4 million inhabitants.</p>
</div>

</body>
</html>